h3 {
    text-align: center;
  }
  
  .outerdiv {
    text-align: center;
  }
  
  .innerdiv {
    background-color:black;
    width: 270px;
    height: 500px;
    display: inline-block;
    border-radius: 55px;
  }

  button {
    border-radius: 50%;
    width: 60px;
    height: 45px;
  }
  .btngrey{
      background-color:rgba(170, 171, 173, 0.98);
      color: whitesmoke;
      font-weight: bolder;
  }
  .btnorange{
      background-color: orange;
      color:whitesmoke;
      font-weight: bolder;
  }
  .btnash{
      background-color: blanchedalmond;
      font-weight: bolder;
  }
  textarea{
      color:whitesmoke;
      font-size: 30px;
      width: 250px;
      height: 50px;
      margin-top: 20px
  }